deploy/logic_apps/get_days_todo_tasks.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Filter_array": {
                "inputs": {
                    "from": "@body('List_to-do''s_by_folder_(V2)')",
                    "where": "@equals(formatDateTime(item()?['lastModifiedDateTime'], 'yyyy-MM-dd'), formatDateTime(utcNow(), 'yyyy-MM-dd'))"
                },
                "runAfter": {
                    "Initialize_variable_2": [
                        "Succeeded"
                    ]
                },
                "type": "Query"
            },
            "For_each_2": {
                "actions": {
                    "Append_to_array_variable": {
                        "inputs": {
                            "name": "TodaysItems",
                            "value": {
                                "Description": "@{body('Parse_JSON_')?['body']?['content']}",
                                "Importance": "@{body('Parse_JSON_')?['importance']}",
                                "Status": "@{body('Parse_JSON_')?['status']}",
                                "SubTasks": "@if(equals(body('Parse_JSON_')?['checklistItems'], null), json('[]'), body('Parse_JSON_')?['checklistItems'])",
                                "TaskTitle": "@{body('Parse_JSON_')?['title']}"
                            }
                        },
                        "runAfter": {
                            "Parse_JSON_": [
                                "Succeeded"
                            ]
                        },
                        "type": "AppendToArrayVariable"
                    },
                    "Parse_JSON_": {
                        "inputs": {
                            "content": "@items('For_each_2')",
                            "schema": {
                                "properties": {
                                    "@@odata.context": {
                                        "type": "string"
                                    },
                                    "@@odata.etag": {
                                        "type": "string"
                                    },
                                    "body": {
                                        "properties": {
                                            "content": {
                                                "type": "string"
                                            },
                                            "contentType": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "categories": {
                                        "type": "array"
                                    },
                                    "checklistItems": {
                                        "items": {
                                            "properties": {
                                                "createdDateTime": {
                                                    "type": "string"
                                                },
                                                "displayName": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "string"
                                                },
                                                "isChecked": {
                                                    "type": "boolean"
                                                }
                                            },
                                            "required": [
                                                "displayName",
                                                "createdDateTime",
                                                "isChecked",
                                                "id"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "checklistItems@odata.context": {
                                        "type": "string"
                                    },
                                    "createdDateTime": {
                                        "type": "string"
                                    },
                                    "hasAttachments": {
                                        "type": "boolean"
                                    },
                                    "id": {
                                        "type": "string"
                                    },
                                    "importance": {
                                        "type": "string"
                                    },
                                    "isReminderOn": {
                                        "type": "boolean"
                                    },
                                    "lastModifiedDateTime": {
                                        "type": "string"
                                    },
                                    "status": {
                                        "type": "string"
                                    },
                                    "title": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "runAfter": {},
                        "type": "ParseJson"
                    }
                },
                "foreach": "@body('Filter_array')",
                "runAfter": {
                    "Filter_array": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "Get_API_Key_Secret": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['keyvault']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/secrets/@{encodeURIComponent('AOI-ApiKey')}/value"
                },
                "runAfter": {
                    "For_each_2": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Initialize_Deployment_Name": {
                "inputs": {
                    "variables": [
                        {
                            "name": "DeploymentName",
                            "type": "string",
                            "value": "WorkSummDavinci"
                        }
                    ]
                },
                "runAfter": {
                    "Get_API_Key_Secret": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_TaksInString": {
                "inputs": {
                    "variables": [
                        {
                            "name": "TaksInString",
                            "type": "string",
                            "value": "@{string(variables('TodaysItems'))}"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_Deployment_Name": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Date",
                            "type": "string",
                            "value": "@{formatDateTime(utcNow(), 'yyyy-MM-ddTHH:mm:ss.fffffffZ')}"
                        }
                    ]
                },
                "runAfter": {
                    "List_to-do's_by_folder_(V2)": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_variable_2": {
                "inputs": {
                    "variables": [
                        {
                            "name": "TodaysItems",
                            "type": "array"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_variable_3": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Prompt",
                            "type": "string",
                            "value": "Generate a summary of the work done based on the provided Json below. the summary should include all tasks with their accompanying subtasks and their status. Ensure the report is easy to understand and accurately reflects the work completed based on the JSON schema provided.\n\n@{variables('TaksInString')}\n"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_TaksInString": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "List_to-do's_by_folder_(V2)": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['todo']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/lists/@{encodeURIComponent('AAMkADI2ZTk0YjQ3LTY1ZWYtNDM1Ni04OWFkLTM0M2E4NDk4NDMzYQAuAAAAAACMX806WtwwQ6FFm5q4WRJNAQCIkBio4xPkQ6h5JVK7J1QWAAFu8I3XAAA=')}/tasks",
                    "queries": {
                        "$top": 999
                    }
                },
                "runAfter": {},
                "type": "ApiConnection"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "Recurrence": {
                "evaluatedRecurrence": {
                    "frequency": "Hour",
                    "interval": 1
                },
                "recurrence": {
                    "frequency": "Hour",
                    "interval": 1
                },
                "type": "Recurrence"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "keyvault": {
                    "connectionId": "/subscriptions/a1a27566-3e3c-42d7-a372-692095cd8521/resourceGroups/WorkSummary/providers/Microsoft.Web/connections/keyvault-1",
                    "connectionName": "keyvault-1",
                    "connectionProperties": {
                        "authentication": {
                            "type": "ManagedServiceIdentity"
                        }
                    },
                    "id": "/subscriptions/a1a27566-3e3c-42d7-a372-692095cd8521/providers/Microsoft.Web/locations/eastus/managedApis/keyvault"
                },
                "todo": {
                    "connectionId": "/subscriptions/a1a27566-3e3c-42d7-a372-692095cd8521/resourceGroups/WorkSummary/providers/Microsoft.Web/connections/todo",
                    "connectionName": "todo",
                    "id": "/subscriptions/a1a27566-3e3c-42d7-a372-692095cd8521/providers/Microsoft.Web/locations/westeurope/managedApis/todo"
                }
            }
        }
    }
}